# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
static

# Virtual environments (venv for local, pypoetry for global)
.venv/
apps/backend/.coverage
*.venv
*.pyenv
*.pypackage
.coverage
.env

*.pytest_cache/

/poetry.lock